* {
  font-style: normal;
  margin: 0;
  padding: 0;
}

.app {
  background-color: #004980;
}

.center {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.container {
  background: #c2f5ff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.container-header {
  padding: 50px 136px;
  width: 215px;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #004980;
}

.difficulty-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
  padding: 0 69px;
}

.difficulty-button {
  padding: 15px 34px;
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 72px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #0080c1;
  background-color: #fff;
  border-radius: 12px;
  border-style: none;
  border-color: #fff;
  transition: 0.5s;
}

.difficulty-button:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.diff-button-active {
  background-color: #7ac100;
  color: #fff;
}

.start-button {
  background: #7ac100;
  border-radius: 12px;
  border-style: none;
  border-color: #7ac100;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #fff;
  margin-top: 67px;
  margin-bottom: 48px;
  padding: 10px 117px;
  transition: 0.5s;
}

.start-button:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.container-header-game {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 23px;
}

.container-header-timer {
  display: flex;
  flex-direction: column;
}

.timer-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #fff;
}

.container-timer-up {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 57px;
}

.container-timer-down {
  display: flex;
  flex-direction: row;
}

.timer-min,
.timer-sec,
.timer-dot {
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 52px;
  display: flex;
  color: #fff;
}

.container-cards {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  padding-left: 10px;
  padding-right: 10px;
  gap: 15px;
  padding-bottom: 50px;
}

.easy-one {
  grid-template-columns: repeat(6, 1fr);
  padding-left: 350px;
  padding-right: 350px;
}

.hard-one {
  grid-template-columns: repeat(9, 1fr);
  padding-left: 140px;
  padding-right: 140px;
}

.img {
  width: 100%;
}

.card {
  background: #fff;
  border-radius: 4px;
  transition: 0.5s;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.active {
  filter: blur(3px);
  pointer-events: none;
  user-select: none;
}

.pop-up {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  box-shadow: 0 5px 30px rgb(0 0 0 / 30%);
  background: #c2f5ff;
}

.pop-up-header {
  padding: 28px 125px;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #004980;
}

.pop-up-img {
  padding-top: 30px;
}

.pop-up-timer-tag {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #000;
}

.pop-up-timer {
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 72px;
  color: #000;
}

.pop-up-btn {
  background: #7ac100;
  border-radius: 12px;
  border-style: none;
  border-color: #7ac100;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #fff;
  margin: 40px 0;
  padding: 10px 60px;
  transition: 0.5s;
}

.pop-up-btn:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.game-page-height {
  height: 100vh;
}
