* {
    font-family: 'StratosSkyeng';
    font-style: normal;
    margin: 0;
    padding: 0;
}
.app {
    height: 100vh;
    background-color: #004980;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    
}
.container {
    background: #C2F5FF;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.container-header {
    padding: 50px 136px;
    width: 215px;

    font-family: 'StratosSkyeng';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #004980;
}
.difficulty-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    padding: 0 69px;
}
.difficulty-button {
    padding: 15px 34px;
    font-family: 'StratosSkyeng';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #0080C1;
    background-color: #fff;
    border-radius: 12px;
    border-style: none;
    border-color: #fff;
    transition: 0.5s;
}
.difficulty-button:hover {
    cursor: pointer;
    transform: scale(1.05);
}
.start-button {
    background: #7AC100;
    border-radius: 12px;
    border-style: none;
    border-color: #7AC100;
    font-family: 'StratosSkyeng';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
    margin-top: 67px;
    margin-bottom: 48px;
    padding: 10px 117px;
    transition: 0.5s;
}
.start-button:hover {
    cursor: pointer;
    transform: scale(1.05);
}
/* .app */

